<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jspiders</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../../bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="../../css/custom.css">
</head>

<body>
    <header>
        {{> _header}}
    </header>
    {{{body}}}
    <script src="../../jquery/dist/jquery.min.js"></script>
    <script src="../../popper.js/dist/popper.min.js"></script>
    <script src="../../js/client.js"></script>
</body>

</html>