* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Poppins',
        sans-serif;
    color: #111;
    background-color: #eeeeee;

}


.card {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.card{
    margin: 10px;
}